.helpAndSound {
    bottom: 15px;
    right: 15px;
    position: absolute;
    display: inline-flex;
}

.helpModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 213, 213, 0.5);
    backdrop-filter: blur(6px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}

.helpModal__content {
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    overflow: auto;

}

table {
    margin: 0 auto;
}

th,
td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: left;
}

.helpModalButton {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}