.roundButton {
    border-radius: 50%;
    border-style: inset;
    background-color: white;
    cursor: pointer;
    padding: 12px;
    border-width: 0.1px;
    border-color: transparent;
    display: flex;
    margin: 5px;
}

.roundButton:hover {
    border-color: black;
}