.toolbarButton {
    border-radius: 6px;
    border-style: inset;
    background-color: transparent;
    cursor: pointer;
    padding: 12px;
    border-width: 0.1px;
    border-color: transparent;
    display: inline-flex;
}

.toolbarButton__active {
    background-color: rgb(0, 0, 0);
}

.toolbarButton:hover {
    border-color: black;
}


